<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
        <% menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label "Restaurant Name", class:"label" %>
    <%= form.text_field :name, class:"input" %>
  </div>

  <div class="mb-6">
    <%= form.label "Restaurant Name", class:"label" %>
    <%= form.text_field :name, class:"input" %>
  </div>

  <div class="mb-6">
    <%= form.fields_for :categories, Category.new, child_index: 'NEW_CATEGORY' do |category| %>
      <%#= render "fields_category", form: category %>
    <% end %>
  </div>

  <div class="mb-6">
    <%= form.submit class:"btn btn-sm btn-purple" %>
  </div>
<% end %>
