<% content_for :primary_content do %>
  <div class="lg:p-10 pt-10 px-4">
    <div class="flex justify-between items-center">
      <h2 class="heading text-4xl font-bold pt-4 mb-8">Menu</h2>
      <%= link_to "Edit Menu", edit_menu_path(@menu), class:"btn btn-sm btn-purple" %>
    </div>

    <div class="mb-6">
      <p class=label>Restaurant Name</p>
      <h5 class="ml-3 text-xl"><%= @menu.name %></h5>
    </div>

    <div class="mb-6">
      <p class="label">Logo</p>
      <% if @menu.photo.attached? %>
        <%= cl_image_tag(@menu.photo.key, class:"rounded h-48") %>
      <% else %>

      <% end %>
    </div>
  </div>
<% end %>

<% content_for :third_content do %>
  <div class="lg:p-10 pt-10 px-4">
  <div class="flex justify-between items-center">
    <h2 class="heading text-2xl font-bold pt-4 mb-8">Categories</h2>
    <%= link_to "Edit Categories", menu_categories_path(@menu), class:"btn btn-sm btn-purple" %>
  </div>

      <div class="mb-6">
      <p class=label>Categories</p>
      <% @menu.categories.each do |category| %>
        <h5 class="ml-3 text-xl"><%= category.name %></h5>
      <% end %>
    </div>

  </div>
<% end %>


<% content_for :secondary_content do %>
  <%= render "application/progress", menu: @menu %>
<% end %>

<%= render "base_layout" %>
